
html,
body {
  height: 100%;
  background-color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  color: black;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
background-image: url("img/P6072647.JPG");
background-size: cover;
background-position: center;
 }     
.thumbnail {
  width: 49%;
  background-color: transparent;
  margin-left: 25%
} 
.img-hvr {
  position: relative;
  overflow: hidden;}
  .img-hvr:hover {
    cursor: pointer;
  }
.hvr-7 {
    
      transform:scale(1);
      -webkit-transform:scale(1);
      transition: transform .3s linear;
      -webkit-transition: transform .3s linear;
    }
.hvr-7:hover {
      
        transform:scale(1.1);
        -webkit-transform:scale(1.1);
      }

.modal-dialog {
  width:45%;
  background-color: black;
  text-align: center;

}
.modal-body {
  background-color: black;
}

/*
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
/* Padding for spacing */
.inner {
  padding: 30px;
}
.navbar-default {
  background-color: #222;
  border-color: #eee;
  font-color: #eee;
}
.navbar-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Monoton', cursive;
  font-size: 2em;
  font-color: #eee;
  }
.navbar-header {
 
}
.navbar-nav > li {
  display: inline-block;
}
.navbar-nav > li + li {
  margin-left: 20px;
}
.navbar-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 1em;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #eee;
  
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #eee;
  border-bottom-color: #fff;
}
.btn-default {
  color: #333;
  background-color: #777;
  border-color: #eee;
  font-color: #eee;
  font-size: 20px;
  vertical-align: bottom;
}
@media (min-width: 768px) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav {
    float: right;
  }
}