
html,
body {
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  background-color: transparent;
  color: #eee;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-sizing: border-box;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
background-image: url("img/P6072647.JPG");
background-size: cover;
background-position: center;


 }    
 .container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.text-box {
  padding-bottom: 50px;
  padding-top: 2em;
  opacity: 0.5;
  background: rgba(119,119,119,0.6);
  border-top: 3px solid #eee;
  border-bottom: 3px solid #eee;
  margin-top: 5.0em;
 } 
 
 h1,h2 {
  color: #eee;
  
 }



.col-lg-4 {
  width: 200px;
  height: 200px;
  border-bottom: 5px solid #eee;
  color: #eee;
  display: inline-block;
  text-align: left;
  margin: 75px;
  vertical-align: middle;
  background: rgba(119,119,119,0.6);

}
.img-hvr {
  position: relative;
  overflow: hidden;}
  .img-hvr:hover {
    cursor: pointer;
  }
.hvr-7 {
    
      transform:scale(1);
      -webkit-transform:scale(1);
      transition: transform .3s linear;
      -webkit-transition: transform .3s linear;
    }
.hvr-7:hover {
      
        transform:scale(1.1);
        -webkit-transform:scale(1.1);
      }

.modal-dialog {
  width:45%;
  background-color: black;
  text-align: center;
  


}
.modal-body {
  background-color: black;
  color: #eee;
}
.modal-header {
  background-color: black;
  color: #eee;
}
.modal-footer {
  text-align: left;
}
.close {
  color: #eee;
}

.flickr-header  {
  position: relative;
  bottom: 0px
}

.navbar-default {
  background: transparent;
  border-color: #eee;
  color: #eee;
  font-size: 1.2em;
}
.navbar-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Monoton', cursive;
  font-size: 2.5em;
 
  }
.navbar-collapse {
 vertical-align: middle;
}
.navbar-nav > li {
  display: inline-block;
}
.navbar-nav > li + li {
  margin-left: 20px;
}
.navbar-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 1em;
  font-weight: bold;
  color: #eee; /* IE8 proofing */
  color: rgba(119,119,119,0.6);
  border-bottom: 2px solid transparent;
  font-color: #eee;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #eee;
  
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: transparent;
  border-bottom-color: #eee;
  border-bottom: 10px;
}
.btn-default {
  color: #eee;
  background-color: rgba(119,119,119,0.6);
  border-color: #eee;
  font-color: #eee;
  font-size: 20px;
  vertical-align: bottom;
}
@media (min-width: 768px) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav {
    float: right;
  }
  
}
@media (max-width: 767px) {
  .modal-dialog {
    margin-left: 100px;
  }
  
  
}